.auth_alerts{
	margin-top: 30px;
  	margin-left: 10px;
  	margin-right: 10px;
}

.bg-red-pink {
  background-color: #FF8282 !important;
}

.modal-lg
{
    width: 1200px;
	max-width: 90%;
}

.alert-merge {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.box-inskrywing {
  border-top-color: #00a65a;
  background: rgba(0, 166, 90, 0.07);
}